body{
    background-color: lightgray;
}
.encabezado{
    background-color: rgb(38, 38, 173);
}

.botonNav{
    background-color: white;
}

.imgNav{
    width: 22px;
    height: 22px;
}

.icono:hover{
    color: rgba(255, 255, 255, 0.644);
}

.menuLateral:hover{
    background-color: rgba(248, 248, 248, 0.74);
}

.fotoForm{
    width: 60px;
    height: 60px;
}

.iconoForm{
    color: grey;
}

.iconoForm:hover{
    color: rgb(177, 177, 177);
}

.boton{
    background-color: rgb(60, 60, 240);
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    border: 1px solid rgb(38, 38, 173);

}

.boton:hover{
    background-color:  rgb(85, 85, 245);
}

.comentario{
    width: 100%;
    background-color: white;
    padding: 1em;
    margin-top: 0.5em;
}

.nombrePublicacion{
    font-size: larger;
    color: rgb(60, 60, 240);
    font-weight: bold;
    padding-left: 0;
}

.meGustas{
    color:  rgb(60, 60, 240);;
}

.publicidad img{
    width: 332px;
    height: 220px;
}

.publicidad{
    width: 100%;
    overflow: hidden;
}

.enlacesPubli a{
    color:  rgb(60, 60, 240);
    margin-right: 0.3em;
}